:root {
    --theme: #02001c;
    --background: #efefef;
}

/* SIDEBAR */
body {
    /* Auto layout */
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    padding: 0px;
    background: var(--background);
    margin: 0;

}

.sidebar {
    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 18%;
    height: 100vh;
    /* Theme system shs */

    background: var(--theme);

    /* Inside auto layout */
}

.profile-container {
    display: flex;
    padding: 14px 27px;
    align-items: center;
    gap: 10px;
    align-self: stretch;
}

.sidebar-profile {
    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;

    color: white;

    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.sidebar-profile h3,
.sidebar-profile p {
    margin: 0;
    padding: 0;
}

.sidebar-nav {
    /* Auto layout */

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0px;

    width: 100%;

    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.sidebar-nav li {
    padding-top: 10px;
    padding-bottom: 10px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-link {
    text-decoration: none;
    color: white;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
}

.icon {
    color: white;
    padding-right: 5px;
}