/* SIDEBAR */
body {
  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  background: #ffffff;
  margin: 0;
}
.sidebar {
  /* Auto layout */

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;

  width: 300px;
  height: 1024px;

  /* Theme system shs */

  background: #02001c;

  /* Inside auto layout */

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.sidebar-profile {
  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 14px 27px;
  gap: 10px;

  width: 300px;
  height: 86px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.sidebar-navcontainer {
  /* Auto layout */

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;

  width: 300px;
  height: 352px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
  background-color: green;
}

.sidebar-navitems {
  /* Auto layout */

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px 40px;

  height: 44px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;

  background-color: white;
}

.content {
  /* Auto layout */

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 42px 59px;

  width: 1140px;
  height: 788px;

  background: #efefef;

  /* Inside auto layout */

  flex: none;
  order: 3;
  align-self: stretch;
  flex-grow: 1;
}

.content-header {
  /* Auto layout */

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 32px 50px;
  gap: 20px;

  width: 1141px;
  height: 107px;

  /* Theme system shs */

  background: lightblue;

  /* Inside auto layout */

  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

.floating {
  /* Auto layout */

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 32px 26px;

  width: 1022px;
  height: 379px;

  background: #ffffff;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.25);
  border-radius: 10px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.floating-header {
  /* Auto layout */

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 10px;

  width: 970px;
  height: 43px;

  /* Inside auto layout */
  background: limegreen;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}
